@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey%2010&display=swap');


.irs--shiny .irs-bar, .irs--shiny .irs-single {
  border: #b66c3f;
  background: #f4d497;
}

body, h2 {
  font-family: 'Poppins', sans-serif;
  color: black;
}

.main-header .logo {
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
}

h3 {
  font-family: 'Poppins', sans-serif;
  text-align: center; /* Horizontally center the text */
}

h4 {
  font-family: 'Poppins', sans-serif;
  text-align: center; /* Horizontally center the text */
  font-size: 14px;
}

/* Centering images */
img {
  display: block;      /* Make the image a block element */
  margin-left: auto;   /* Auto left margin */
  margin-right: auto;  /* Auto right margin */
}